.BuildControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
    border: 1px solid #aa6817;
    outline: none;
}
